body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-image: url("../img/pesos.jpg"); 
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container h1 {
    color: red; 
    font-weight: 4rem;
  }
  button{
     width: 150px;
     height: 40px;
     font-size: 2rem;
     border-radius: 5px;
  }